useDynLib(mandelExplorer, .registration=TRUE)
import(shiny)
import(grid)
import(pacman)
import(export)
importFrom(RColorBrewer, brewer.pal)
importFrom(grDevices, colorRampPalette)
importFrom(Rcpp, evalCpp)
importFrom(farver, encode_native)
exportPattern("^[[:alpha:]]+")
